.bold {
    font-weight: bold
    }
.calibre {
    display: block
    }
.calibre_ {
    display: block;
    font-size: 1em;
    padding-left: 0;
    padding-right: 0;
    text-align: justify;
    text-justify-trim: punctuation;
    margin: 0 5pt
    }
.calibre_1 {
    display: block;
    text-align: center;
    text-indent: 1.5em;
    margin: 0
    }
.calibre_2 {
    color: black;
    font-size: 1.33333em
    }
.calibre_3 {
    display: block;
    height: 24px
    }
.calibre_4 {
    color: black;
    font-family: Times New Roman;
    font-size: 1em
    }
.calibre_5 {
    display: block;
    text-indent: 1.5em;
    margin: 0
    }
.calibre_6 {
    display: block;
    text-indent: 1.5em;
    margin: 16px 0 0
    }
.calibre_7 {
    color: blue
    }
.calibre_8 {
    display: block;
    height: 16px
    }
.calibre_9 {
    display: block;
    text-align: center;
    text-indent: 1.5em;
    margin: 16px 0 0
    }
.calibre_10 {
    display: block;
    height: 4px
    }
.calibre1 {
    font-family: Times New Roman;
    font-size: 0.75em
    }
.calibre2 {
    font-size: 1.33333em
    }
.calibre3 {
    font-family: Times New Roman;
    font-size: 1em
    }
.italic {
    font-style: italic
    }
.mbp_pagebreak {
    display: block;
    margin: 0
    }
.underline {
    text-decoration: underline
    }
