.para11 {
  margin:  0.0972in 0px 0.0835in 0px;
}

.para7 {
  background-color: #dddddd;
  border: 0.06pt solid #000000;
  line-height: 115.0000%;
  margin:  0.0000in 0px 0.1965in 0px;
}

.para5 {
  margin:  0.1390in 0px 0.0835in 0px;
}

.para10 {
  margin:  0.0000in 0.3937in 0.1965in 0.3937in;
  text-indent: 0.0000in;
}

.para4 {
  line-height: 115.0000%;
  margin:  0.0000in 0px 0.0972in 0px;
}

.para8 {
  line-height: 115.0000%;
  margin:  0.0000in 0px 0.0000in 0px;
}

.para3 {
  border: none;
  margin:  1.0000in 0px 0.6402in 0px;
}

.para2 {
  margin:  0px 0px 0px 0px;
  text-align: start;
}

.para9 {
  border-bottom: 0.2pt double #808080;
  border-left: none;
  border-right: none;
  border-top: none;
  margin:  0.0000in 0px 0.1965in 0px;
}

.para6 {
  background-color: #dddddd;
  border: 0.06pt solid #000000;
  line-height: 115.0000%;
  margin:  0.0000in 0px 0.0000in 0px;
}

.para1 {
  margin:  0px 0px 0px 0px;
}

.para0 {
  margin:  0px 0px 0px 0px;
  text-align: center;
}

.span20 {
  color: #000080;
  font-family: 'Red Hat Text';
  font-weight: bold;
  text-decoration:  underline;
}

.span16 {
  font-family: 'Red Hat Text';
  font-style: italic;
  font-weight: bold;
}

.span15 {
  color: #c0392b;
  font-family: 'Red Hat Text';
}

.span0 {
  color: #ffffff;
  font-family: 'Red Hat Text Medium';
  font-size: 48.0000pt;
}

.span18 {
  font-weight: bold;
}

.span17 {
  color: #000080;
  font-family: 'Red Hat Text';
  font-style: italic;
  text-decoration:  underline;
}

.span7 {
  color: #000080;
  font-family: 'Liberation Mono';
  font-size: 10.0000pt;
  text-decoration:  underline;
}

.span1 {
  color: #ffffff;
  font-family: 'Red Hat Text Medium';
  font-size: 18.0000pt;
}

.span2 {
  color: #2a6099;
  font-family: 'Red Hat Text';
  font-size: 24.0000pt;
  font-weight: bold;
}

.span10 {
  font-family: 'Red Hat Text';
  font-weight: bold;
}

.span19 {
  font-family: 'Liberation Sans';
  font-size: 101.0000%;
  font-weight: bold;
}

.span3 {
  font-family: 'Red Hat Text';
}

.span12 {
}

.span13 {
  font-family: 'Red Hat Display';
}

.span5 {
  color: #2a6099;
  font-family: 'Red Hat Text';
  font-size: 18.0000pt;
  font-weight: bold;
}

.span6 {
  font-family: 'Liberation Mono';
  font-size: 10.0000pt;
}

.span9 {
  font-family: 'Red Hat Text';
  font-style: italic;
}

.span14 {
  color: #c0392b;
  font-family: 'Red Hat Text';
  font-weight: bold;
}

.span4 {
  color: #000080;
  font-family: 'Red Hat Text';
  text-decoration:  underline;
}

.span8 {
  font-family: 'Liberation Mono';
}

.span11 {
  font-family: 'Liberation Mono';
  font-weight: bold;
}

.body0 {
  -epub-writing-mode: horizontal-tb;
  -webkit-writing-mode: horizontal-tb;
  direction: ltr;
  writing-mode: horizontal-tb;
}

.cellTable32 {
  border-bottom: 0.75pt double #808080;
  border-left: 0.2pt double #808080;
  border-right: 0.75pt double #808080;
  border-top: none;
  vertical-align: middle;
  width: 5.63543in;
}

.cellTable31 {
  border-bottom: 0.75pt double #808080;
  border-left: 0.75pt double #808080;
  border-right: 0.75pt double #808080;
  border-top: none;
  vertical-align: middle;
  width: 0.992913in;
}

.cellTable30 {
  border-bottom: 0.2pt double #808080;
  border-left: 0.2pt double #808080;
  border-right: 0.75pt double #808080;
  border-top: none;
  vertical-align: middle;
  width: 5.63543in;
}

.cellTable29 {
  border-bottom: 0.2pt double #808080;
  border-left: 0.75pt double #808080;
  border-right: 0.75pt double #808080;
  border-top: none;
  vertical-align: middle;
  width: 0.992913in;
}

.cellTable11 {
  background-color: #ff5555;
  border: none;
  vertical-align: middle;
  width: 0.379134in;
}

.cellTable0 {
  background-color: #000000;
  border: none;
  vertical-align: middle;
  width: 0.378346in;
}

.cellTable25 {
  border-bottom: 0.75pt double #808080;
  border-left: 0.2pt double #808080;
  border-right: 0.75pt double #808080;
  border-top: none;
  vertical-align: middle;
  width: 1.19843in;
}

.cellTable9 {
  background-color: #55ffff;
  border: none;
  vertical-align: middle;
  width: 0.379134in;
}

.cellTable6 {
  background-color: #00aa00;
  border: none;
  vertical-align: middle;
  width: 0.378346in;
}

.cellTable8 {
  background-color: #00aaaa;
  border: none;
  vertical-align: middle;
  width: 0.378346in;
}

.cellTable16 {
  background-color: #aaaaaa;
  border: none;
  vertical-align: middle;
  width: 0.378346in;
}

.cellTable17 {
  background-color: #ffffff;
  border: none;
  vertical-align: middle;
  width: 0.379134in;
}

.cellTable27 {
  border-bottom: 0.2pt double #808080;
  border-left: 0.75pt double #808080;
  border-right: 0.75pt double #808080;
  border-top: 0.75pt double #808080;
  vertical-align: middle;
  width: 0.992913in;
}

.cellTable5 {
  background-color: #5555ff;
  border: none;
  vertical-align: middle;
  width: 0.379134in;
}

.cellTable7 {
  background-color: #55ff55;
  border: none;
  vertical-align: middle;
  width: 0.379134in;
}

.cellTable23 {
  border-bottom: 0.2pt double #808080;
  border-left: 0.2pt double #808080;
  border-right: 0.75pt double #808080;
  border-top: none;
  vertical-align: middle;
  width: 2.11732in;
}

.cellTable15 {
  background-color: #ffff55;
  border: none;
  vertical-align: middle;
  width: 0.379134in;
}

.cellTable3 {
  border: none;
  vertical-align: middle;
  width: 1.5626in;
}

.cellTable2 {
  background-color: #555555;
  border: none;
  vertical-align: middle;
  width: 0.379134in;
}

.cellTable4 {
  background-color: #0000aa;
  border: none;
  vertical-align: middle;
  width: 0.378346in;
}

.cellTable1 {
  border: none;
  vertical-align: middle;
  width: 0.994488in;
}

.cellTable24 {
  border-bottom: 0.75pt double #808080;
  border-left: 0.75pt double #808080;
  border-right: 0.75pt double #808080;
  border-top: none;
  vertical-align: middle;
  width: 0.813386in;
}

.cellTable12 {
  background-color: #aa00aa;
  border: none;
  vertical-align: middle;
  width: 0.378346in;
}

.cellTable14 {
  background-color: #aa5500;
  border: none;
  vertical-align: middle;
  width: 0.378346in;
}

.cellTable10 {
  background-color: #aa0000;
  border: none;
  vertical-align: middle;
  width: 0.378346in;
}

.cellTable28 {
  border-bottom: 0.2pt double #808080;
  border-left: 0.2pt double #808080;
  border-right: 0.75pt double #808080;
  border-top: 0.75pt double #808080;
  vertical-align: middle;
  width: 5.63543in;
}

.cellTable18 {
  border-bottom: 0.2pt double #808080;
  border-left: 0.75pt double #808080;
  border-right: 0.75pt double #808080;
  border-top: 0.75pt double #808080;
  vertical-align: middle;
  width: 0.813386in;
}

.cellTable19 {
  border-bottom: 0.2pt double #808080;
  border-left: 0.2pt double #808080;
  border-right: 0.75pt double #808080;
  border-top: 0.75pt double #808080;
  vertical-align: middle;
  width: 1.19843in;
}

.cellTable13 {
  background-color: #ff55ff;
  border: none;
  vertical-align: middle;
  width: 0.379134in;
}

.cellTable20 {
  border-bottom: 0.2pt double #808080;
  border-left: 0.2pt double #808080;
  border-right: 0.75pt double #808080;
  border-top: 0.75pt double #808080;
  vertical-align: middle;
  width: 2.11732in;
}

.cellTable21 {
  border-bottom: 0.2pt double #808080;
  border-left: 0.75pt double #808080;
  border-right: 0.75pt double #808080;
  border-top: none;
  vertical-align: middle;
  width: 0.813386in;
}

.cellTable22 {
  border-bottom: 0.2pt double #808080;
  border-left: 0.2pt double #808080;
  border-right: 0.75pt double #808080;
  border-top: none;
  vertical-align: middle;
  width: 1.19843in;
}

.cellTable26 {
  border-bottom: 0.75pt double #808080;
  border-left: 0.2pt double #808080;
  border-right: 0.75pt double #808080;
  border-top: none;
  vertical-align: middle;
  width: 2.11732in;
}

.rowTable0 {
}

.table2 {
  width: 6.6283in;
}

.table1 {
  width: 4.1291in;
}

.table0 {
  width: 3.3146in;
}

.frame6 {
  border: none;
  float: left;
  width: 7.1165in;
}

.frame5 {
  border: none;
  float: left;
  width: 5.5520in;
}

.frame4 {
  border: none;
  float: left;
  width: 6.0000in;
}

.frame3 {
  border: none;
  float: left;
  width: 9.0417in;
}

.frame2 {
  border: none;
  float: left;
  width: 3.4110in;
}

.frame1 {
  float: left;
  width: 1.6874in;
}

.frame0 {
  float: left;
  width: 1.7898in;
}
