body
{
font-family:"Times New Roman",serif;
}
a
{
text-decoration:none;
}
img
{
max-height:100%;
max-width:100%;
}
.h3f
{
font-size:small;
margin-top:3em;
margin-bottom:2.5em;
text-indent:0em;
text-align:center;
font-weight:bold;
}
.right
{
font-size:small;
margin-top:0em;
margin-bottom:0em;
text-align:right;
text-indent:0em;
}
.indent1
{
font-size:small;
margin-top:1em;
margin-bottom:0em;
text-align:justify;
text-indent:1.5em;
}
.indent2
{
font-size:small;
margin-top:2em;
margin-bottom:0em;
text-align:justify;
text-indent:1.5em;
}
.noindent1
{
font-size:small;
margin-top:1em;
margin-bottom:0em;
text-align:justify;
text-indent:0em;
}
.noindent-bs1
{
font-size:small;
margin-top:0em;
margin-bottom:1.5em;
text-align:justify;
text-indent:0em;
}
.noindent3
{
font-size:small;
margin-top:5em;
margin-bottom:0em;
text-align:justify;
text-indent:0em;
}
.noindent
{
font-size:small;
margin-top:0em;
margin-bottom:0em;
text-align:justify;
text-indent:0em;
}
.centerp5
{
font-size:small;
margin-top:0.5em;
margin-bottom:0em;
text-align:center;
text-indent:0em;
font-weight:normal;
}
.center2
{
font-size:small;
margin-top:2em;
margin-bottom:0em;
text-align:center;
text-indent:0em;
font-weight:normal;
}
.center
{
font-size:small;
margin-top:0em;
margin-bottom:0em;
text-align:center;
text-indent:0em;
font-weight:normal;
}
.centerp15
{
font-size:small;
margin-top:1.5em;
margin-bottom:0em;
text-align:center;
text-indent:0em;
font-weight:normal;
}
.halftitle
{
font-size:xx-large;
margin-top:3em;
margin-bottom:0em;
text-align:center;
text-indent:0em;
font-weight:bold;
}
.copy
{
font-size:x-small;
margin-top:0em;
margin-bottom:0em;
text-align:center;
text-indent:0em;
}

.copy3
{
font-size:x-small;
margin-top:0.3em;
margin-bottom:0em;
text-align:center;
text-indent:0em;
}

.copy1
{
font-size:x-small;
margin-top:1.5em;
margin-bottom:0em;
text-align:center;
text-indent:0em;
}
.copy2
{
font-size:x-small;
margin-top:2em;
margin-bottom:0em;
text-align:center;
text-indent:0em;
}
.copyh
{
font-size:x-small;
margin-top:0em;
margin-bottom:0em;
margin-left:1.8em;
margin-right:0em;
text-indent:-1.8em;
}
.box
{
border:1px solid;
margin-top:1em;
padding:0.2em;
margin-bottom:1em;
text-indent:0em;
}
.toc
{
font-size:small;
margin-top:1em;
margin-bottom:0em;
margin-left:5.2em;
text-indent:-5.11em;
font-weight:normal;
}
.tocp15
{
font-size:small;
margin-top:2em;
margin-bottom:0em;
text-indent:0em;
font-weight:normal;
}
.tocc
{
font-size:small;
margin-top:1.5em;
margin-bottom:0em;
text-indent:0em;
font-weight:bold;
text-align:center;
}
.h2
{
font-size:x-large;
margin-top:3em;
margin-bottom:2em;
text-indent:0em;
text-align:center;
font-weight:bold;
}
.h2-bm
{
font-size:x-large;
margin-top:3em;
margin-bottom:2em;
text-indent:0em;
text-align:center;
font-weight:bold;
}
.space
{
padding-left:0.8em;
}
.spacea
{
padding-left:0.2em;
}
.h3a
{
font-size:small;
margin-top:0em;
margin-bottom:1em;
text-indent:0em;
text-align:center;
font-weight:bold;
}
.h3t
{
font-size:small;
margin-top:2em;
margin-bottom:1em;
text-indent:0em;
text-align:center;
font-weight:bold;
}
.h3m
{
font-size:medium;
margin-top:0em;
margin-left:1.5em;
margin-right:1.5em;
margin-bottom:1em;
border-bottom:1px solid;
border-top:1px solid;
padding-bottom:0.5em;
padding-top:0.5em;
text-indent:0em;
font-weight:bold;
}
.h4
{
font-size:medium;
margin-top:1.5em;
margin-bottom:1em;
text-indent:0em;
font-weight:bold;
}
.h4c
{
font-size:x-small;
margin-top:0em;
margin-bottom:0em;
text-indent:0em;
text-align:center;
font-weight:bold;
color:#636466;
}
.h4c-bs1
{
font-size:x-small;
margin-top:0em;
margin-bottom:1em;
text-indent:0em;
text-align:center;
font-weight:bold;
color:#636466;
}
.indent
{
font-size:small;
margin-top:0em;
margin-bottom:0em;
text-align:justify;
text-indent:1.5em;
}
.indent-bs1
{
font-size:small;
margin-top:0em;
margin-bottom:1em;
text-align:justify;
text-indent:1.5em;
}
.indent-bs2
{
font-size:small;
margin-top:0em;
margin-bottom:2em;
text-align:justify;
text-indent:1.5em;
}
.foot
{
font-size:x-small;
margin-top:0em;
margin-bottom:0em;
text-indent:0em;
text-align:justify;
}
.h2p
{
font-size:x-large;
margin-top:3em;
margin-bottom:0em;
text-indent:0em;
text-align:center;
font-weight:bold;
}
.h2p1
{
font-size:large;
margin-top:1.5em;
margin-bottom:0em;
text-indent:0em;
text-align:center;
font-weight:normal;
}
.h2c
{
font-size:large;
margin-top:3em;
margin-bottom:0.5em;
text-indent:0em;
text-align:center;
font-weight:normal;
}
.h2c1
{
font-size:x-large;
margin-top:1em;
margin-bottom:1.5em;
text-indent:0em;
text-align:center;
font-weight:normal;
}
.centers1
{
font-size:x-small;
margin-top:1em;
margin-bottom:0em;
text-align:center;
text-indent:0em;
font-weight:normal;
}
.centers
{
font-size:x-small;
margin-top:0.2em;
margin-bottom:0em;
text-align:center;
text-indent:0em;
font-weight:normal;
}
.centersa
{
font-size:small;
margin-top:0.2em;
margin-bottom:0.5em;
text-align:center;
text-indent:0em;
font-weight:normal;
}
.boxs
{
border-top:1px solid #939598;
border-bottom:1px solid #939598;
margin-top:1em;
padding:0.5em;
margin-bottom:1em;
text-indent:0em;
}
.boxst
{
border-top:1px solid;
border-bottom:1px solid;
margin-top:2em;
padding:0.2em;
margin-bottom:2em;
text-indent:0em;
}
.blocks
{
font-size:x-small;
margin-top:0em;
margin-bottom:0em;
margin-left:2em;
margin-right:2em;
padding-bottom:0em;
text-align:justify;
text-indent:0em;
}
.blocks-tb1
{
font-size:x-small;
margin-top:1em;
margin-bottom:1em;
margin-left:2em;
margin-right:2em;
text-align:justify;
text-indent:0em;
}
.block0s
{
font-size:x-small;
margin-top:0em;
margin-bottom:1em;
margin-left:3em;
margin-right:3em;
text-align:justify;
text-indent:0em;
}
.block00s
{
font-size:x-small;
margin-top:0em;
margin-bottom:0em;
margin-left:3em;
margin-right:3em;
text-align:justify;
text-indent:0em;
}
.block0si-bs1
{
font-size:x-small;
margin-top:0em;
margin-bottom:1em;
margin-left:3em;
margin-right:3em;
text-align:justify;
text-indent:1em;
}
.blocksi
{
font-size:x-small;
margin-top:0em;
margin-bottom:0em;
margin-left:2em;
margin-right:2em;
text-align:justify;
text-indent:1em;
}
.blocksi-bs1
{
font-size:x-small;
margin-top:0em;
margin-bottom:1em;
margin-left:2em;
margin-right:2em;
text-align:justify;
text-indent:1em;
}
.noindents-bs1
{
font-size:x-small;
margin-top:0em;
margin-bottom:1em;
margin-left:1.2em;
margin-right:1.2em;
text-align:justify;
padding-top:0.6em;
text-indent:0em;
}
.top
{
margin-top:1em;
margin-bottom:1em;
}
.top0
{
margin-top:0em;
margin-bottom:0em;
}
.topb0
{
margin-top:1em;
margin-bottom:0em;
}
.block
{
font-size:small;
margin-top:0em;
margin-bottom:0em;
margin-left:2em;
margin-right:2em;
text-align:justify;
text-indent:0em;
}
.blockp
{
font-size:small;
margin-top:0em;
margin-bottom:0em;
margin-left:1.8em;
margin-right:1.8em;
text-align:justify;
text-indent:0em;
}
.blockpi-l
{
font-size:small;
margin-top:0em;
margin-bottom:0em;
border-bottom:1px solid;
margin-left:1.8em;
margin-right:1.8em;
text-align:justify;
padding-bottom:1em;
text-indent:1em;
}
.blockpi-la
{
font-size:small;
margin-top:0em;
margin-bottom:0em;
border-bottom:1px solid;
margin-left:1.8em;
margin-right:1.8em;
text-align:justify;
padding-bottom:1em;
text-indent:1em;
}
.blockp-l
{
font-size:small;
margin-top:0em;
margin-bottom:0em;
border-bottom:1px solid;
padding-bottom:0.5em;
margin-left:1.8em;
margin-right:1.8em;
text-align:justify;
text-indent:0em;
}
.blocki
{
font-size:small;
margin-top:0em;
margin-bottom:0em;
margin-left:2em;
margin-right:2em;
text-align:justify;
text-indent:1em;
}
.blocki-l
{
font-size:small;
border-bottom:1px solid;
margin-top:0em;
padding-bottom:0.5em;
margin-bottom:0em;
margin-left:2em;
margin-right:2em;
text-align:justify;
text-indent:1em;
}
.image
{
font-size:small;
margin-top:0em;
text-align:center;
margin-bottom:0em;
}
.imageL
{
font-size:small;
margin-top:3em;
margin-bottom:0.3em;
}
.imageb
{
font-size:small;
margin-top:0em;
text-align:center;
margin-bottom:1em;
}
.imaget
{
font-size:small;
margin-top:1.5em;
text-align:center;
margin-bottom:1.5em;
}
.title
{
font-size:small;
margin-top:1em;
text-align:center;
margin-bottom:1em;
}
.space1
{
padding-left:1.3em;
}
.space1a
{
padding-left:1em;
}
.bull
{
font-size:small;
margin-top:0.3em;
margin-bottom:0em;
margin-right:1.5em;
margin-left:3.5em;
text-indent:-1.7em;
}
.bull-bs2
{
font-size:small;
margin-top:0.3em;
margin-bottom:2em;
margin-right:1.5em;
margin-left:3.5em;
text-indent:-1.7em;
}
.bull0
{
font-size:small;
margin-top:0em;
margin-bottom:0em;
margin-right:1.5em;
margin-left:3.5em;
text-indent:-1.7em;
}
.num
{
font-size:small;
margin-top:0.3em;
margin-bottom:0em;
margin-right:1.5em;
margin-left:4em;
text-indent:-2.1em;
text-align:justify;
}
.numj
{
font-size:small;
text-align:justify;
margin-top:0.3em;
margin-bottom:0em;
margin-right:1.5em;
margin-left:4em;
text-indent:-2.1em;
}
.numi
{
font-size:small;
margin-top:0em;
margin-bottom:0em;
text-align:justify;
margin-right:1.5em;
margin-left:4em;
text-indent:1em;
}
.boxg
{
background-color:#e7e7e8;
margin-top:0em;
padding:0.5em;
margin-bottom:0em;
text-indent:0em;
}
.boxgt
{
background-color:#e7e7e8;
margin-top:1em;
padding:0.5em;
margin-bottom:1em;
text-indent:0em;
}
.boxgtb
{
background-color:#e7e7e8;
margin-top:1.5em;
padding:0.5em;
margin-bottom:1.5em;
text-indent:0em;
}
.noindentb
{
font-size:x-small;
margin-top:0em;
margin-bottom:0em;
text-align:justify;
text-indent:0em;
}
.noindentb1
{
font-size:x-small;
margin-top:1em;
margin-bottom:0em;
text-align:justify;
text-indent:0em;
}
.numb
{
text-align:justify;
font-size:x-small;
margin-top:0.3em;
margin-bottom:0em;
margin-left:4em;
text-indent:-2.1em;
}
.numbi
{
text-align:justify;
font-size:x-small;
margin-top:0em;
margin-bottom:0em;
margin-left:4em;
text-indent:1em;
}
.numbs
{
text-align:justify;
font-size:x-small;
margin-top:0.3em;
margin-bottom:0em;
margin-left:2.5em;
text-indent:-2.1em;
}
.numbj
{
font-size:x-small;
margin-top:0.3em;
margin-bottom:0em;
text-align:justify;
margin-right:2em;
margin-left:4em;
text-indent:-2.1em;
}
.indentb
{
font-size:x-small;
margin-top:0em;
margin-bottom:0em;
text-align:justify;
text-indent:1.5em;
}
.indentb1
{
font-size:x-small;
margin-top:1em;
margin-bottom:0em;
text-align:justify;
text-indent:1.5em;
}
.h40
{
font-size:medium;
margin-top:0em;
margin-bottom:1em;
text-indent:0em;
font-weight:bold;
}
.h5s
{
font-size:small;
margin-top:1.5em;
margin-bottom:1em;
text-indent:0em;
font-weight:bold;
}
.blockn
{
font-size:small;
margin-top:0em;
margin-bottom:0em;
text-align:justify;
margin-right:1.5em;
margin-left:5.3em;
text-indent:-2.1em;
}
.blockn1
{
font-size:x-small;
margin-top:0em;
margin-bottom:0em;
text-align:justify;
margin-right:1.5em;
margin-left:5.3em;
text-indent:-2.1em;
}
.bullb
{
font-size:x-small;
margin-top:0.2em;
margin-bottom:0em;
margin-right:1.5em;
margin-left:4em;
text-indent:-1.7em;
}
.notes
{
font-size:x-small;
margin-top:0.5em;
margin-bottom:0em;
text-align:left;
margin-right:1.5em;
margin-left:3em;
text-indent:-2em;
}
.tocc
{
font-size:small;
margin-top:24px;
margin-bottom:0em;
text-indent:0em;
font-weight:bold;
text-align:center;
}
small
{
font-size:x-small;
}
.hide
{
display:none;
}
.rhide
{
display:block;
}
@media amzn-mobi
{
.hide
{
display:block;
}
.rhide
{
display:none;
}
.centerp5
{
font-size:small;
margin-top:4px;
margin-bottom:0em;
text-align:center;
text-indent:0em;
font-weight:normal;
}
.centerp15
{
font-size:small;
margin-top:20px;
margin-bottom:0em;
text-align:center;
text-indent:0em;
font-weight:normal;
}
.copyh
{
font-size:x-small;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:-20px;
}
.copy2
{
font-size:x-small;
margin-top:20px;
margin-bottom:0em;
text-align:center;
text-indent:0em;
}
.copy1
{
font-size:x-small;
margin-top:16px;
margin-bottom:0em;
text-align:center;
text-indent:0em;
}
.toc
{
font-size:small;
margin-top:1em;
margin-bottom:0em;
margin-left:0em;
text-indent:-100px;
font-weight:normal;
}
.imageL
{
font-size:small;
margin-top:3em;
margin-bottom:0em;
text-indent:-10px;
}
.blockn
{
font-size:small;
margin-top:0em;
margin-bottom:0em;
text-align:justify;
margin-right:0em;
margin-left:0em;
text-indent:-100px;
}
.blockn1
{
font-size:x-small;
margin-top:0em;
margin-bottom:0em;
text-align:justify;
margin-right:0em;
margin-left:0em;
text-indent:-120px;
}
.blocks
{
font-size:x-small;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-align:justify;
text-indent:-65px;
}
.blocks-tb1
{
font-size:x-small;
margin-top:1em;
margin-bottom:1em;
margin-left:0em;
margin-right:0em;
text-align:justify;
text-indent:-65px;
}
.blocksi
{
font-size:x-small;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-align:justify;
text-indent:-65px;
}
.blocksi-bs1
{
font-size:x-small;
margin-top:0em;
margin-bottom:1em;
margin-left:0em;
margin-right:0em;
text-align:justify;
text-indent:-65px;
}
.block
{
font-size:small;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-align:justify;
text-indent:-65px;
}
.blocki
{
font-size:small;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-align:justify;
text-indent:-65px;
}
.blockpi-l
{
font-size:small;
margin-top:0em;
margin-bottom:0em;
border-bottom:1px solid;
margin-left:0em;
margin-right:0em;
text-align:justify;
padding-bottom:1em;
text-indent:-65px;
}
.blockpi-la
{
font-size:small;
margin-top:0em;
margin-bottom:0em;
border-bottom:1px solid;
margin-left:0em;
margin-right:0em;
text-align:justify;
padding-bottom:1em;
text-indent:-35px;
}
.block0s
{
font-size:x-small;
margin-top:0em;
margin-bottom:1em;
margin-left:0em;
margin-right:0em;
text-align:justify;
text-indent:-90px;
}
.block00s
{
font-size:x-small;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-align:justify;
text-indent:-90px;
}
.block0si-bs1
{
font-size:x-small;
margin-top:0em;
margin-bottom:1em;
margin-left:0em;
margin-right:0em;
text-align:justify;
text-indent:-90px;
}
.notes
{
font-size:x-small;
margin-top:4px;
margin-bottom:0em;
text-align:left;
margin-right:0em;
margin-left:0em;
text-indent:-30px;
}
.bull
{
font-size:small;
margin-top:0.3em;
margin-bottom:0em;
margin-right:0em;
margin-left:0em;
text-indent:-55px;
}
.bull-bs2
{
font-size:small;
margin-top:0.3em;
margin-bottom:2em;
margin-right:0em;
margin-left:0em;
text-indent:-55px;
}
.bull0
{
font-size:small;
margin-top:0em;
margin-bottom:0em;
margin-right:0em;
margin-left:0em;
text-indent:-55px;
}
.bullb
{
font-size:x-small;
margin-top:0.2em;
margin-bottom:0em;
margin-right:0em;
margin-left:0em;
text-indent:-95px;
}
.num
{
text-align:justify;
font-size:small;
margin-top:0.3em;
margin-bottom:0em;
margin-right:0em;
margin-left:0em;
text-indent:-58px;
}
.numj
{
font-size:small;
text-align:justify;
margin-top:0.3em;
margin-bottom:0em;
margin-right:0em;
margin-left:0em;
text-indent:-58px;
}
.numi
{
font-size:small;
margin-top:0em;
margin-bottom:0em;
text-align:justify;
margin-right:0em;
margin-left:0em;
text-indent:-58px;
}
.numb
{
font-size:x-small;
margin-top:0.3em;
margin-bottom:0em;
margin-left:0em;
text-indent:-30px;
text-align:justify;
}
.numbj
{
font-size:x-small;
margin-top:0.3em;
margin-bottom:0em;
text-align:justify;
margin-right:0em;
margin-left:0em;
text-indent:-30px;
}
.numbi
{
font-size:x-small;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
text-indent:-30px;
text-align:justify;
}
.numbs
{
text-align:justify;
font-size:x-small;
margin-top:0.3em;
margin-bottom:0em;
margin-left:0em;
text-indent:-30px;
}
.h3m
{
font-size:medium;
margin-top:0em;
margin-left:1.5em;
margin-right:1.5em;
margin-bottom:0em;
border-bottom:1px solid;
border-top:1px solid;
padding-bottom:0.5em;
padding-top:0.5em;
text-indent:30px;
font-weight:bold;
}
.h4c
{
font-size:x-small;
margin-top:0em;
margin-bottom:0em;
text-indent:0em;
text-align:center;
font-weight:bold;
color:#636466;
}
}